@CHARSET "ISO-8859-1";

body { background-color: #C0C0C0; }

#main { width: 800px;
		margin: auto;}

#header { height: 100px; 
		  padding-top: 25px; }
		  
#header h1 { color: #D80000; }

.center { text-align: center; }

#navDiv { width: 800px;
		  height: 50px; }
		  
#navList { width: 800px;
		  list-style-type: none; }
		  
#navList li { border: 2px solid #000000;
			  background: #FFFFFF;
			  float: left; }

#navList li#tab-advanced { border-left: 0px;
					 	   border-right: 0px; }

#navList li.selected { background: #99CCFF; }

#navList a { display: block;
			 text-align: center;
			 width: 240px;
			 padding: 7px 0px;
			 text-decoration: none;
			 color: #000000;
			 font-weight: bold; }

#content { width: 715px;
		   margin: 10px 0px 0px 0px;
		   padding: 0px 50px 50px 50px;
		   overflow: hidden; }

table#simple_table { margin: 50px 0px 0px 150px; }
table#simple_table td { padding: 15px; }

table#advanced_table { margin: 50px 0px 0px 60px; }
table#advanced_table td { padding: 10px 20px; }

.separate { height: 25px; }

.selected-browse { text-decoration: none; }

#content a:visited { color: blue; }
/* Styles for displaying the variables in a codebook */
.codebookTable { width: 600px; }

.codebookTable td.tdLeft { width: 250px; }
.codebookTable td.tdRight { width: 350px; }

.variableTable { width: 500px; }

.variableTable td.tdLeft { width: 200px;
						   padding: 10px 0px; }
.variableTable td.tdRight { width: 300px;
						    padding: 10px 0px; }